@tailwind base;
@tailwind components;
@tailwind utilities;

.uploadContainer {
    flex: 1;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the children horizontally */
    align-items: center; /* Center the children vertically */
    height: 100vh;
}

.processedImageContainer {
  max-height: 50vh; // Adjust as needed
  overflow: hidden;
  margin: 10px;
}

.processedImage {
  width: auto;
  height: 100%;
  object-fit: contain;
}

